In [8]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

from ggplot import *

df = pd.read_csv('alphabet.csv', encoding='utf-8-sig')
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>27-Oct-17</td>
      <td>1009.19</td>
      <td>1048.39</td>
      <td>1008.20</td>
      <td>1019.27</td>
      <td>5167689</td>
    </tr>
    <tr>
      <th>1</th>
      <td>26-Oct-17</td>
      <td>980.00</td>
      <td>987.60</td>
      <td>972.20</td>
      <td>972.56</td>
      <td>2042149</td>
    </tr>
    <tr>
      <th>2</th>
      <td>25-Oct-17</td>
      <td>968.37</td>
      <td>976.09</td>
      <td>960.52</td>
      <td>973.33</td>
      <td>1211262</td>
    </tr>
    <tr>
      <th>3</th>
      <td>24-Oct-17</td>
      <td>970.00</td>
      <td>972.23</td>
      <td>961.00</td>
      <td>970.54</td>
      <td>1212153</td>
    </tr>
    <tr>
      <th>4</th>
      <td>23-Oct-17</td>
      <td>989.52</td>
      <td>989.52</td>
      <td>966.12</td>
      <td>968.45</td>
      <td>1478448</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
dates = pd.to_datetime(df['Date'].values)
data_close = df['Close'].values

data = {'Date': dates,
        'Close': df['Close'].values}

qwe = pd.DataFrame(data)

qwe.fillna(1).plot()

Historical chart

In [65]:
import csv

dataset = csv.reader(open('alphabet.csv', 'r'))

data_open = [x[1] for x in dataset]
data_open.pop(0)
data_open = [float(x) for x in data_open]